.row {
    display: flex;
    margin-bottom: 20px;
}
.button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 0px 0px rgb(153 153 153);
}

.button1:hover {
    background-color: #3e8e41;
}

.button1:active {
    background-color: #3e8e41;
    transform: translateY(5px);
    box-shadow: 0 5px 0 0 rgb(153 153 153);
}

.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}

@keyframes append-symbol {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1.0;}
}

.button2:hover span {
    transform: translateX(-15px);
}

.button2:hover span:after {
    content: '»';
    position: absolute;
    top: 0;
    right: -20px;
    animation: append-symbol 0.5s linear;
}

.box {
    position: relative;
    margin: 20px;
    height: 150px;
    width: 350px;
    border: 2px solid;
    overflow: hidden;
}
.badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 120px;
    font-size: 12px;
    background-color: #bd4257;
    color: #fff;
    text-align: center;
    transform: rotate(45deg) translate(37px, -4px);
}
